 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/default.css" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery-1.9.1.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery.form.js"></script>
<style type="text/css">
.frmMain{
	position:relative;
	margin-top:10px;
	margin-left:30px;
}
.t,.s{
	border: 1px solid #7C98BD;
	width:170px;
	height:20px;
}
</style>
</head>
<body bgcolor="#E9EEF5">
<script language="JavaScript">
<!--
$(function(){
	$('#frmForm').ajaxForm({
		beforeSubmit:  checkForm,  // pre-submit callback
		success:       complete,  // post-submit callback
		dataType: 'json'
	});
	function checkForm(){
		if(''==$.trim($('#name').val()))
		{
			alert("错误：信息必须填写完整！");
			return false;
		}
		// 可以在此添加其它判断
	}
    function complete(data){
        if(data>0)
        {
        	if(data==1)
        	{
        		var info='错误：名称重复！';
        	}
        	else
        	{
        		var info='错误：数据库异常！';	
        	}
            alert(info);
        }
        else
        {
        	window.location.href=window.location.href;
        	window.top.mainFrame.optFrame.location.href=window.top.mainFrame.optFrame.location.href;
        }
    }
});

//-->
</script>
<form name="frmForm" id="frmForm" method="post" action="__URL__/roleModify">
<div class="frmMain">角色名称： <input class="t" type="text" name="role_name" id="name" value="{$data.role_name}" /></div>
<div class="frmMain">排列顺序： <select class="s" name="position" id="position">
	<option value='1' <if condition="$data.position eq 1">selected</if>>显示在第一位</option>
	<volist name="poList" id="vo">
		<option value="{$vo.position}" <lt name="vo.position" value="$data.position">selected</lt>>
		在【{$vo.role_name}】之后
		</option>
	</volist>
</select></div>
<div class="frmMain">角色说明： <textarea style="width:170px;height:70px;" name="resume">{$data.resume}</textarea></div>
<div class="frmMain" style="float:right;margin-right:30px;"><include file="Template/button" /></div>
<input type="hidden" name="roleID" value="{$data.role_id}" />
</form>
</body>
</html>
