 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/default.css" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery-1.9.1.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery.form.js"></script>
<style type="text/css">
.frmMain{
	position:relative;
	width:90%;
	height:26px;	
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.item{
	float:left;
	margin-left:10px;
	margin-bottom:5px;
	width:180px;
}
</style>
</head>
<body bgcolor="#E9EEF5">
<script language="JavaScript">
<!--
$(function(){
	$('#frmForm').ajaxForm({
		beforeSubmit:  checkForm,  // pre-submit callback
		success:       complete,  // post-submit callback
		dataType: 'json'
	});
	function checkForm(){
		// 可以在此添加其它判断
	}
    function complete(data){
        if(data>0)
        {
        	if(data==1)
        	{
        		var info='错误：数据库异常！';
        	}
            alert(info);
        }
        else
        {
        	alert('修改成功');        
        	window.top.mainFrame.optFrame.location.reload();
        	window.parent.hiddenWindow()
        }
    }
});
//-->

</script>
<form name="frmForm" id="frmForm" method="post" action="__URL__/staffManageChangeModify">
<div class="frmMain">
	<div class="item">推广人员：	<input style="width:110px;" type="text" name="staff_name" id="staff_name" value="{$data['staff_name']}"></div>
	<div class="item">代理商：
		<select name="agent" id="agent_id">
			<option value=-1>--请选择--</option>
			<volist name="agents" id="agent">
				<option value="{$agent['id']}">{$agent['name']}</option>
			</volist>
		</select>
	</div>
	<div class="item">推广员：
		<select name="spreader" id="spreader">
			<option value=-1>--请选择--</option>
		</select>
	</div>	
	<input type="hidden" name="doctor_id" value="{$data['doctor_id']}">	
</div>
<div style="float:right;margin-right:36px;margin-top:10px"><include file="Template/button"/></div>
</form>
<script>
$('#agent_id').change(function(){
	var id=$('#agent_id').val();
	var url="{:U('ajax/selectSpreader')}";	
	var str='';
	$.ajax({
		url: url,
		type: 'POST',
		data:{id:id},
		dataType: 'JSON',
		error: function () {  },
		success: function(data){	
			str+='<option value="-1">请选择</option>';
			$.each(data,function(i,val){
				 str+="<option value="+val.id+">"+val.name+"</option>";
			})
			str+='</select>'
			$('#spreader').html(str);			
		}
	});
 });
 
$('#spreader').change(function(){
	$('#staff_name').val($("#agent_id  option:selected").text()+'_'+$("#spreader  option:selected").text());
 });

</script>
</body>
</html>
