<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>医信商城</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="./css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/agency_detail.css" />

	</head>
	<body>
		<div class="userinfo">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="history.go(-1)" style="height:44px;line-height:44px;"></a>
			<h1 class="mui-title" style="color:#fff;font-size:18px;margin:0;" onclick="history.go(-1)">员工详情</h1>
			<div class="right">
				<img src="images/fenpei.png" style="margin-top: 7px;margin-right: 2px;"/><span style="color: #fff;height: 44px;width:3em;text-align:center;line-height:44px;font-size:14px;padding-right:15px;"></span>
			</div>
			<div class="clear"></div>
			<div class="contain">
				<img class="userphoto" src="images/headimg.png" />
				<div class="moreinfo">
					<p>
						<span class="nam">赵本山</span>
						<img class="icon" src="images/lv1.png"/>
						<span class="sex">男</span>
						<span class="year">1947-10-7</span>
					</p>
					<p style="color:#fff;">西安市雁塔区益丰苑A栋12501</p>
					<div class="tel">联系电话：12345678911</div>
					<div class="doct" style="height:25px;line-height:25px;">
						<img src="images/doctor.png" />
						营养师：宋丹丹
				</div>
				</div>
				<div class="clear"></div>
				<!--div class="otherinfo">
					<div class="tx">
						<span class="tx-nike">宋丹丹</span>
						<img src="images/headimg.png"  />
					</div>
				</div-->
				
				</div>
		</div>
		<div class="consumRecord">
			<div id="hid-confirm" class="hid-pl">
			<!--div class="hid-title">
				确认提货
			</div-->
			<div class="hid-con">
				<form action="" method="post" id="bank">
					<input type="" name="" id="" value="" placeholder="请输入您的提货码" onclick="focus()" /><br />
				</form>
			</div>
			<div class="hid-sub bank-submit">
				确认提货
			</div>
		</div>
			<ul>
				<li class="consumList delivery">
					<img src="images/list-img2.png" />
					<div class="listintro">
						<p class="name">糖尿病关爱礼盒套装系列1</p>
						<p class="p3"><span>￥6850.00</span>
						<p class="p5">2015-08-06购买</p>
					</div>
					<div class="list-clear"></div>
				</li>
				<li class="consumList delivery">
					<img src="images/list-img2.png" />
					<div class="listintro">
						<p class="name">糖尿病关爱礼盒套装系列1</p>
						<p class="p3"><span>￥6850.00</span>
						<p class="p5">2015-08-06购买</p>
					</div>
					<div class="list-clear"></div>
				</li>
				<li class="consumList">
					<img src="images/list-img2.png" />
					<div class="listintro">
						<p class="name">糖尿病关爱礼盒套装系列1</p>
						<p class="p3"><span>￥6850.00</span>
						<p class="p5">2015-08-06购买</p>
					</div>
					<div class="list-clear"></div>
				</li>
				<li class="consumList delivery">
					<img src="images/list-img2.png" />
					<div class="listintro">
						<p class="name">糖尿病关爱礼盒套装系列1</p>
						<p class="p3"><span>￥6850.00</span>
						<p class="p5">2015-08-06购买</p>
					</div>
					<div class="list-clear"></div>
				</li>
			</ul>
			</div>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				var get_circle_wid = $('.userphoto').width();
				var get_circle_wid1 = $('.tx img').width();
				$('.userphoto').height(get_circle_wid);
				$('.tx img').height(get_circle_wid1);
			});
		</script>
		
	</body>

</html>