.shop-form{
	margin-top: 30px;
	text-align: center;
}
.shop-form input{
	width: 90%;
	margin-bottom: 30px;
	height: 40px;
	line-height: 14px;
	border-radius: 5px;
	color:#555;
	font-size:14px;
}

input,textarea{-webkit-appearance: none;border: 1px solid #E43D37;padding: 10px;}
::-webkit-input-placeholder { font-size: 14px;}
::-moz-placeholder { font-size: 14px; } /* firefox 19+ */
::-ms-input-placeholder { font-size: 14px;} /* ie */

