<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>投资健康</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="__CSS__/mui.min.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/app.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/chooseDoctor.css" />
	</head>

	<body>
		<div class="container">
		<header class="mui-bar mui-bar-nav" style="background:#23272a;position: fixed;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="history.go(-1)"></a>
			<h1 class="mui-title" style="color:#fff" onclick="history.go(-1)">投资</h1>
		</header>
		
			<div class="textarea">
        		<div class="text">
                    <p class="title1">{$v.clinic_name}</p>
                    <p class="title2">{$v.type}</p>
                    <p class="title3">{$v.address}</p>
				</div>
			</div>
			<!--div class="intro">
				<div class="intro-rectangle"></div>
				<p class="intro-text">请选择为您服务的医生</p>
				<div class="clear"></div>
			</div-->
			<div class="img-hb">
				<img src="__IMG__/choosedoctor.png" >
			</div>
			<ul class="doctor-list">
                <foreach name="v['doc']" item="vo">
				<li class="content" url="{:U('sure',array('id'=>$_GET['id'],'uid'=>$vo['doctor_id']))}">
				<div class="content-inner" style="position:relative" >
					<div style="position:absolute;z-index:1;width:100%">
					    <php>
					    	if($vo['authentication']==11){
					    	
					    </php>
						<img src="__IMG__/icon_authdoctor_v2.png" style="width:8.5%;"/>
						<php>
							}else if($vo['authentication']==1){
						</php>
						<img src="__IMG__/icon_authdoctor_v1.png" style="width:8.5%;"/>
						<php>}</php>
						<img class="auth" src="__IMG__/icon_authdoctor.png" style="width:5.5%;position:absolute;left:11%"/>			
					</div>
					<img src="{$vo.img_url}" style="border-radius:3px;" />
					<div class="doctor_info">
						<p class="xingming">{$vo.user_name}
							<span class="orange">{$vo.k_name}</span>
							<!--span class="red">¥{$vo.money}<span class="red" style="margin-left:1em">{$vo.service_num}/{$vo.sale_num}</span></span-->
						</p>
						<p class="keshi">{$vo.recollection_name}<span class="yishi">{$vo.duty_name}</span></p>
						<div class="clear"></div>
						<p class="address">{$vo.hospital}</p> 
						<p class="area">{$vo.h_area}</p>
					</div>
					<div class="clear"></div>
					<div class="arrow-right">
						<img src="__IMG__/arrow-right1.png"  />
					</div>
				</div>
			    </li>
			    <div class="border-line"></div>
                </foreach>
			</ul>
		</div>
		<script src="__JS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				  var get_navi = $('.navi');
				  var get_left = $('.auth').css('left');
					$('.auth').css('top',get_left);
				  $(".xiala").click(function(){
				  		get_navi.slideToggle('fast');
				  });
				  $('.mui-content').click(function(){
				  		if(get_navi.css('display')=="block"){
				  		get_navi.slideUp('fast');
				  		}
				  });
				  $('.new-list li').hover(function(){
				  	$(this).css('background','#EFEFEF');
				  },function(){
				  	$(this).css('background','#fff');
				  });
			});

            $('.doctor-list li').click(function(){
                var url=$(this).attr('url');
                window.location.href=url;
            });
            $('.doctor-list li').on('touchstart',function(){
            	$(this).css('background','#e8e8e8');
            });

            $('.doctor-list li').on('touchend',function(){
            	$(this).css('background','#fff');
            });
		</script>
	</body>

</html>