<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
<!--
var _PUBLIC="__PUBLIC__";
//-->
</script>
<link rel="stylesheet" href="__PUBLIC__/Home/css/default.css" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery-1.9.1.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery.form.js"></script>
<script type="text/javascript">
<!--
$(function(){

});
//-->
</script>
</head>
<body>
<div style="border-bottom:1px solid #7c98bd;">
  <include file="Template/list" />
</div>

</body>
<script type="text/javascript">
<!--
var th = $(window).height()-90;
$('#optFrame').height(th);
//-->
</script>
</html>