 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/default.css" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery-1.9.1.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery.form.js"></script>
<style type="text/css">
.frmMain{
	position:relative;
	margin-top:10px;
	margin-left:30px;
}
.t,.s{
	border: 1px solid #7C98BD;
	height:20px;
}

</style>
</head>
<body bgcolor="#E9EEF5">
<script language="JavaScript">
<!--
$(function(){
	$('#frmForm').ajaxForm({
		beforeSubmit:  checkForm,  // pre-submit callback
		success:       complete,  // post-submit callback
		dataType: 'json'
	});
	function checkForm(){
		//if(''==$.trim($('#resume').val()))
		//{
		//	alert("错误：信息必须填写完整！");
		//	return false;
		//}
		// 可以在此添加其它判断
	}
    function complete(data){
        if(data>0)
        {
        	if(data==1)
        	{
        		var info='错误：名称重复！';
        	}
        	else
        	{
        		var info='错误：数据库异常！';	
        	}
            alert(info);
        }
        else
        {
        	alert('修改成功');        
        	window.top.mainFrame.optFrame.location.reload();
        	window.parent.hiddenWindow()
        }
    }
});

//-->
</script>
<form name="frmForm" id="frmForm" method="post" action="__URL__/serviceInfoCreate">
<div class="frmMain"><span>&nbsp;服务名称：</span> <input class="t" style="width:180px;" type="text" name="name"  /></div>
<div class="frmMain"><span>&nbsp;&nbsp;&nbsp;服务费：</span> <input class="t" style="width:180px;" type="text" name="money"  /></div>
<div class="frmMain"><span>&nbsp;&nbsp;&nbsp;订金费：</span> <input class="t" style="width:180px;" type="text" name="deposit"  /></div>
<div class="frmMain"><span>&nbsp;服务周期：</span> <input class="t" style="width:180px;" type="text" name="cycle"  />(月)</div>
<div class="frmMain"><span>&nbsp;分账比率：</span> <input class="t" style="width:180px;" type="text" name="rate"  />(百分)</div>
<div class="frmMain"><span>&nbsp;可售数量：</span> <input class="t" style="width:180px;" type="text" name="sale_num"  /></div>
<div class="frmMain"><span>&nbsp;服务说明：</span><textarea name="resume" class="t" style="width:180px;height:50px;"></textarea> </div>
<div class="frmMain">&nbsp;&nbsp;排列顺序： <select class="s" style="width:184px;height:24px" name="position" id="position">
	<option value='0'>显示在第一位</option>
	<volist name="poList" id="vo">
		<option value="{$vo.position}">在【{$vo.name}】之后</option>
	</volist>
</select></div>
<div class="frmMain" style="float:right;margin-right:30px;"><include file="Template/button" /></div>
</form>
</body>
</html>
