<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>搜索{$value}的结果</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" href="__PUBLIC__/Article/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Article/css/article.css"/>
        <script src="__PUBLIC__/Article/js/jquery-1.9.1.min.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="position:fixed;background:#0ac9c2">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{:U('index')}"></a>
			<h1 class="mui-title">
                搜索{$value}的结果
            </h1>
			<a  href="{:U('Search/index')}" class="mui-icon mui-pull-right "><img src="__PUBLIC__/Article/images/search.png"/></a>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">

				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<ul class="mui-table-view" id="article_list">

	
	{$article}
	
	
</ul>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script src="__PUBLIC__/Article/js/mui.min.js"></script>
		<?php
			if($anum>1){
		   ?>
		
		
		<script src="__PUBLIC__/Article/js/mui.pullToRefresh.js"></script>
		<script src="__PUBLIC__/Article/js/mui.pullToRefresh.material.js"></script>
		
		<script>

			(function($) {
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: false //是否显示滚动条
				});
				$.ready(function() {
					//循环初始化所有下拉刷新，上拉加载。
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						$(pullRefreshEl).pullToRefresh({
							up: {
								callback: function() {
									console.log('pullup');
									var self = this;

										var ul = self.element.querySelector('.mui-table-view');
                                        append_more();
										self.endPullUpToRefresh();

								}
							}
						});
					});
					var createFragment = function(ul, index, count, reverse) {
						var length = ul.querySelectorAll('li').length;
						var fragment = document.createDocumentFragment();
						var li;
						for (var i = 0; i < count; i++) {
							li = document.createElement('li');
							li.className = 'mui-table-view-cell';
							li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
							fragment.appendChild(li);
						}
						return fragment;
					};
				});
			})(mui);
		</script>

			<script>
			mui('body').on('tap','a',function(){
				var href=this.href
				window.location.href=href;
			})
			</script>
            <script>

                sanlingyi_page=1;
                function append_more(){
                    //查询更多
                    var article=$('#article_list');
                    var url="{:U('search','','')}";
                    var value="{$value}";
                    $.post(
                            url,{'value':value,'s_page':sanlingyi_page,'is_ajax':1},function(date){

                               if(date!=0) {
                                   sanlingyi_page=sanlingyi_page+1;
                                   article.append(date);
                                   setheight();
                                   //alert(date);
                               }else{
                                   $('.mui-pull-loading').html('暂无更多');
                                   window.setTimeout(function () {
                                       $('.mui-pull-loading').html('上拉显示更多');
                                   },500);
                               }
                            }
                            ,'text' );
                };
            </script>
			<?php }?>
        <script type="text/javascript">

            function setheight(){
                var pic3 = $('.pic3 img').width();
                $('.pic3 img').height(pic3*2/3);
                var width= $('.mui-table-view .mui-media-object').width();
                $('.mui-table-view .mui-media-object').height(width*2/3);
            }
            setheight();


        </script>
	</body>

</html>