 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/default.css" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery-1.9.1.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/Home/js/jquery/jquery.form.js"></script>
<style type="text/css">
#frmMain{
	position:relative;
	margin-top:20px;
	margin-left:20px;
	width:300px;
}
.frmItem{
	position:relative;
	height:24px;
	margin-top:10px;
}
</style>
</head>
<body bgcolor="#E9EEF5">
<script language="JavaScript">
<!--
$(function(){
	$('#frmAjax').ajaxForm({
		beforeSubmit:  checkForm,  // pre-submit callback
		success:       complete,  // post-submit callback
		dataType: 'json'
	});
	function checkForm(){
		if(''==$.trim($('#dName').val()))
		{
			alert('错误：信息必须填写完整！');
			return false;
		}
		// 可以在此添加其它判断
	}
    function complete(data){
        if(data>0)
        {
        	if(data==1)
        	{
        		var info='错误：名称或代码有重复！';
        	}
        	else
        	{
        		var info='错误：数据库异常！';	
        	}
            alert(info);
        }
        else
        {
        	window.location.href=window.location.href;
        	window.parent.treeFrame.location.reload();
        }
    }
});

//-->
</script>
<form name="frmAjax" id="frmAjax" method="post" action="__URL__/degreeModify">
<div id="frmMain">
	<div class="frmItem">名称： <input type="text" name="name" id="dName" value="{$data.name}" style="width:160px;" /></div>
	<div class="frmItem">顺序： <select size="1" name="position" id="position" style="width:164px;">
		<option value='0'>显示在第一位</option>
		<volist name="poList" id="vo">
			<option value="{$vo.position}" <lt name="vo.position" value="$data.position">selected</lt>>在【{$vo.name}】之后</option>
		</volist>
	</select></div>
	<div class="frmItem">使用状态： <if condition="$data.status eq 1">
		正常使用中
	<else />
		停用状态
	</if></div>	
</div>
<div class="frmMain" style="clear:left;margin-left:20px;"><include file="Template/button" /></div>
<input type="hidden" name="id" value="{$data.id}" />
</form>
</body>
</html>
